<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @ticket.title %>
</p>

<p>
  <b>Text:</b>
  <%= @ticket.text %>
</p>

<p>
  <b>Customer:</b>
  <%= @ticket.customer_id %>
</p>

<p>
  <b>Status:</b>
  <%= @ticket.status %>
</p>


<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
